body{
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    color: black;
    background-color: #eaeaea;
}

* {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}
p{
    margin: 0 0 10px;
}
/*CONTAINER
============================*/

.container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}
/*
HEADER
============================*/
.header{
width: 100%;
height: 10  0px;
position: absolute;
top:0;
left: 0;
z-index: 1000;
}
.header.fixed{
  height: auto;
  position: fixed;
  background-color: #31344e;
}
.header.fixed .header__inner{
  padding-top:0px;
  padding-bottom:0px;
  border-bottom: 0px;
}

.header__inner {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #515369
}

.nav{
display: flex;
font-size: 18px;
font-weight: 700px;
text-transform: uppercase;

}
.nav__link{
margin-left: 50px;
color:#fff;
text-decoration: none;
opacity: 0.75;
transition: opacity .1s linear;

}

.nav__link:first-child {
  margin-left: 0px;
}

.nav__link:hover{
  opacity: 1;
}
/*DROPDOWN
=======================
*//* Dropdown Button */
.dropbtn {
    color: white;
    font-size: 16px;
    border: none;
  color:#fff;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 16px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

#main {
    padding-top: 115px;
    min-height: 87vh;
    overflow: hidden;
    text-overflow: ellipsis;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.containerr {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.table-part-1 {
    float: left;
    margin-right: 2%;
}
.table-part-1, .table-part-2 {
    table-layout: fixed;
    position: relative;
    width: 49% !important;
}
.table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}
table {
    line-height: 1em;
    border-collapse: collapse;
}
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05);
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.table-part-1 th:first-child, .table-part-2 th:first-child {
    width: 80%;
}
.table-sm td, .table-sm th {
    padding: .3rem;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
th {
    text-align: inherit;
}
.textknigi p {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}
#content h1{
  text-align: center;
}
/*FOOTER==========================*/
.footer{
  background-color: #3a3e64;
}
.footer__inner{
  padding: 70px 0;
  display: flex;
  flex-wrap: wrap;
}
.footer__block{
  width: 33.33333%;
  padding: 0 15px;
  text-align: center;

}
.footer__title{
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  font-family: Roboto Slab;
}
.footer__address{
  font-size: 14px;
  font-style: normal;
  color:rgba(255, 255, 255, .5);
  line-height: 1.5;
}
.footer__text{
  font-size: 14px;
  font-style: normal;
  color:rgba(255, 255, 255, .5);
  line-height: 1.5;
}
.social--footer .social__item {
    border-width: 2px;
    border-color: #fff;
    border-radius: 2px;
}
.social__item {
    display: flex;
    width: 30px;
    height: 30px;
    border: 1px solid #e8ecee;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
}
.social {
    display: flex;
}
.social--footer {
    justify-content: center;
}
.social__item:hover{
  background-color: #fff;
}
/*COPYRIGHT
=========================*/
.copyright{
  background-color: #313454;
  padding: 20px 0;
}
.copyright__text{
  text-align: center;
  font-size: 14px;
  color: #808080;
}
.copyright__text span{
  color: #fff;
}